.navbar {
  margin-bottom: 0;
  background: rgb(149,137,17);
  background: linear-gradient(to bottom, rgba(149,137,17,1) 0%, rgba(248,241,32,1) 100%);
  border: none;
  border-radius: 0;
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  font-size: calc(10px + 14 * (100vw - 320px)/ 800) !important;
  z-index: 99;
  white-space: nowrap;
}

.navbar a, .navbar a:hover{
  color: #fff;
  text-decoration: none;
}

.jumbo-col{
  padding: 0;
}

.jumbotron{
  margin-top: 70px;
  background: url('../img/Aioros.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 600px;
  height: 500px;
  border-radius: 0 !important;
  color: #fff;
  position: relative;
  box-shadow: 0 3px 10px rgba(149,137,17,1), 0 3px 10px rgba(248,241,32,1);
}

.title-box-row {
  width: 100%;
  margin: auto;
  margin-top: 130px;
  background: linear-gradient( rgba(20,20,20, .7), rgba(20,20,20, .7));
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:-1;
  /*to edit the opacity effect change the percentage below */
  -webkit-filter: brightness(0.75);
}

.card{
  background-color: transparent;
  color: green;
  text-align: center;
  margin: 20px 5px;
  border: 5px solid #F1F1F1;
  webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.img-card{
  width: 100%;
  height: 230px;
}

.pre-footer{
  height: 60px;
}

footer{
  background: rgb(149,137,17);
  background: linear-gradient(to bottom, rgba(149,137,17,1) 0%, rgba(248,241,32,1) 100%);
  color: #fff;
}

@media only screen and (max-width: 1240px) {
  .navbar h3{
    font-size: 18px;
  }
}

@media only screen and (max-width: 1055px) {
  .navbar h3{
    font-size: 18px;
  }
}

@media only screen and (max-width: 875px) {
  .navbar h3{
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar h3{
    font-size: 16px;
  }
}

@media only screen and (max-width: 452px) {
  .navbar h3{
    font-size: 14px;
  }

}
